name: Build

on:
  push:
    branches-ignore:
    - 'release/*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      # We use these variables to convert between tox and GHA version literals
      py27: 2.7
      py35: 3.5
      py36: 3.6
      py37: 3.7
      py38: 3.8
      py39: 3.9
    strategy:
      # ensures the entire test matrix is run, even if one permutation fails
      fail-fast: false
      matrix:
        python-version: [py27, py35, py36, py37, py38, py39]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env[matrix.python-version] }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env[matrix.python-version] }}
      - name: Install tox
        # Pin tox 3 because of https://github.com/rpkilby/tox-factor/issues/18
        run: pip install -U tox==3.27.1 tox-factor
      - name: Cache tox environment
        uses: actions/cache@v2
        with:
          path: .tox
          # bump version prefix to fully reset caches
          key: v1-tox-${{ matrix.python-version }}-${{ hashFiles('tox.ini', '**/setup.py') }}
      - name: run tox
        run: tox -f ${{ matrix.python-version }}
